<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li id="mail">
                <a href="mailto:{{ site.author.email }}" 
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a> 
              </li>
	        		<li id="github">
                <a href="https://www.github.com/{{ site.author.github_username }}">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
	        		<li id="twitter">
                <a href="http://twitter.com/{{ site.author.twitter_username }}">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
				</ul>
			</footer>
		</body>
	</html>
