<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css"/>
		</head>
		<body>
   <div >
    <div class="panel-main__content">
     <h1 class="panel-cover">{{ site.title }}</h1>
      <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
        <img src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo"/>
      </a>
    </div>

    <div class="header">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/about" title="nk to {{ site.title }} about" class="about-button">About</a>
      <a href="{{ site.baseurl }}/skills" >Skills</a>
      <a href="{{ site.baseurl }}/experience" >Experience</a>
      <a href="{{ site.baseurl }}/blog" title="nk to {{ site.title }} blog" class="blog-button">Blog</a>
      <a href="{{ site.baseurl }}/tags" >Tags</a>
    </div>

   </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<div class ="footer">
    <ul>
      <li id="mail">
        <a href="mailto:{{ site.author.email }}" >
          <i class="icon icon-mail"></i>
          <span class="label">Email</span>
        </a> 
      </li>
      <li id="github">
        <a href="https://www.github.com/{{ site.author.github_username }}">
          <i class="icon icon-social-github"></i>
          <span class="label">GitHub</span>
        </a>
      </li>
      <li id="twitter">
        <a href="http://twitter.com/{{ site.author.twitter_username }}">
          <i class="icon icon-social-twitter"></i>
          <span class="label">Twitter</span>
        </a>
      </li>
				</ul>
    {% include footer.html %}
			</div>
		</body>
	</html>
